<html>
 <center> 
 This page is created by Ansible <p>
 This is a message from {{ansible_hostname}} and the message is {{web_mesg}}
 <h1>
 ****************************************************************
 </h1>
 click here for server info: <a href="http://192.168.1.82:98/serverinfo.html">{{ansible_hostname}}</a>
 <h1>
 ****************************************************************
 </h1>
 </center>
</html>